#################
## Eclipse
#################

*.pydevproject
.project
.metadata
.recommenders/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
RemoteSystemsTempFiles/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
CSE2102-DesignProject/target/classes/META-INF/maven/CSE2102-DesignProject/CSE2102-DesignProject/pom.properties